h1{
  font-family: "Bradley Hand", sans-serif;
  font-variant: small-caps;
}
h2{
  height: 10px;
  font-variant: small-caps;
  font-family: Chalkduster, serif;
}
h4{
  height: 24px;
  font-variant: small-caps;
  font-family: "Arial Hebrew Scholar",sans-serif;
}
nav{
  font-variant: small-caps;
  float: top;
}
head,body{
  margin: 0px;
  padding: 0px;
  background-color: #cccccc;
  text-align: -webkit-center;
}
ul{
  color: brown;
  display: block;
  text-align: center;
}
table{
   color: brown;
   text-align: center;
   display: inline-block;
 }
p{
  margin: 0px;
  padding: 0px;
  text-align: left;
  color: brown;
  display: block;
}
th,caption{
  color: #222222;
}
progress{
  width:200px;
  display: block;
  float: right;
  margin-right: 10%;
}
div{
  width: 50%;
  display: inline-block;
  float: left;
}
footer{
  padding: 20px;
  clear: both;
}
audio{
  width: 50%;
  display: inline-block;
  position: center;
}
img{
  width: 25%;
}
